body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #eff2f1;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: 10px 30px 10px 30px;
  color: white;
  background-color: white;
}

#contenu {
  margin-top: 50px;
  color: white;
  text-align: center;
}

#logoButton {
  font-size: 22px;
  color: #459e85;
  text-decoration: none;
}

#boutonDroite {
  display: flex;
  gap: 20px;
}

#cartButton {
  color: black;
  text-decoration: none;
}

#bookingsButton {
  color: black;
  text-decoration: none;
}
