body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #eff2f1;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: 10px 30px 10px 30px;
  color: white;
  background-color: white;
}

#contenu {
  margin-top: 50px;
  color: white;
  text-align: center;
}

#logoButton {
  font-size: 22px;
  font-weight: bold;
  color: #459e85;
  text-decoration: none;
}

#boutonDroite {
  display: flex;
  gap: 20px;
}

#cartButton {
  color: black;
  text-decoration: none;
}

#bookingsButton {
  color: black;
  text-decoration: none;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.cart-block {
  background-color: white;
  width: 800px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cart-block h3 {
  text-align: center;
  padding: 20px;
  margin: 0;
}

#cart-list {
  max-height: 300px;
  overflow-y: auto;
  padding: 0 20px 20px 20px;
  text-align: center;
}

.cart-footer {
  background-color: #00153e;
  color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btn-purchase {
  background-color: #459e85;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f5eeee;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.col-route {
  width: 40%;
  text-align: left;
  font-weight: bold;
}

.col-time {
  width: 20%;
  text-align: center;
}

.col-price {
  width: 15%;
  text-align: center;
}

.delete-btn {
  width: 25%;
  text-align: right;
}

.delete-btn {
  background-color: #459e85;
  color: white;
  font-size: 10px;
  border-radius: 5px;
  border-width: 0px;
  width: 25px;
  height: 25px;
}
