body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url("./images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: 25px 30px 25px 30px;
  color: white;
  background-color: white;
}

#logoButton {
  font-size: 25px;
  color: #459e85;
  text-decoration: none;
}

#boutonDroite {
  display: flex;
  gap: 20px;
}

#cartButton {
  color: black;
  text-decoration: none;
}

#bookingsButton {
  color: black;
  text-decoration: none;
}

#logo {
  width: 60px;
  margin-right: 25px;
}
