body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url("./images/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: 10px 30px 10px 30px;
  color: white;
  background-color: white;
}

#contenu {
  margin-top: 50px;
  color: white;
  text-align: center;
}

#logoButton {
  font-size: 22px;
  font-weight: bold;
  color: #459e85;
  text-decoration: none;
}

#boutonDroite {
  display: flex;
  gap: 20px;
}

#cartButton {
  color: black;
  text-decoration: none;
}

#bookingsButton {
  color: black;
  text-decoration: none;
}

#book_affichage {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 150px;
  padding: 20px;
  margin-top: 50px;
}

#content-left {
  display: grid;
  background-color: white;
  padding: 20px;
  border-radius: 5%;
  align-content: start;
  width: 250px;
}

#departure {
  color: rgb(82, 81, 81);
  font-weight: bold;
  border-radius: 5px;
  border-width: 0px;
  border-bottom: 1px solid #ccc;
  background-color: rgb(243, 241, 241);
  padding: 10px;
}
#departure::placeholder {
  color: grey;
  font-weight: normal;
}

#separator1 {
  width: 95%;
  border: 0;
  border-top: 1px solid gray;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

#arrival {
  font-weight: bold;
  color: rgb(82, 81, 81);
  border-radius: 5px;
  border-width: 0px;
  border-top: 1px solid #ccc;
  background-color: rgb(243, 241, 241);
  padding: 10px;
}
#arrival::placeholder {
  color: grey;
  font-weight: normal;
}

#dateValue {
  background-color: rgb(243, 241, 241);
  color: rgb(82, 81, 81);
  border-width: 0px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 50px;
  width: 92%;
}

#btn-src {
  color: white;
  background-color: #459e85;
  border-width: 0px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 100px;
}

#content-right {
  display: grid;
  background-color: white;
  padding: 15px;
  text-align: center;
  border-radius: 5%;
  width: 250px;
  place-items: center;
  align-content: center;
  gap: 10px;
}

img {
  width: 100px;
  height: auto;
}

#separator2 {
  width: 75%;
  border: 0;
  border-top: 2px solid #459e85;
  margin: 5px 0;
}
