body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url("./images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: 25px 30px 25px 30px;
  color: white;
  background-color: white;
}

#logoButton {
  font-size: 25px;
}

#boutonDroite {
  display: flex;
  gap: 20px;
}

#logo {
  width: 60px;
  margin-right: 25px;
}
