body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url("./images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: 10px 30px 10px 30px;
  color: white;
  background-color: white;
}

#contenu {
  color: white;
  text-align: center;
}

#logoButton {
  font-size: 22px;
  color: #459e85;
  text-decoration: none;
}

#book_affichage {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 150px;
  padding: 20px;
}

#content-left {
  display: grid;
  background-color: white;
  padding: 15px;
  border-radius: 5%;
  align-content: start;
  width: 300px;
}

#boutonDroite {
  display: flex;
  gap: 20px;
}

#cartButton {
  color: black;
  text-decoration: none;
}

#bookingsButton {
  color: black;
  text-decoration: none;
}

#departure {
  color: black;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-width: 0px;
  background-color: rgb(243, 241, 241);
}
#departure::placeholder {
  color: black;
  padding-left: 10px;
}

#arrival {
  color: black;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-width: 0px;
  background-color: rgb(243, 241, 241);
}
#arrival::placeholder {
  color: black;
  padding-left: 10px;
}

#dateValue {
  background-color: rgb(243, 241, 241);
  border-width: 0px;
  border-radius: 5%;
  padding: 5px;
}

#btn-src {
  color: white;
  background-color: #459e85;
  border-width: 0px;
  padding: 5px;
  border-radius: 5%;
}

#content-right {
  display: grid;
  background-color: white;
  padding: 15px;
  text-align: center;
  border-radius: 5%;
  width: 300px;
  align-content: start;
}
